body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navbar.navbar-dark {
background-color: rgb(228, 228, 228); /* Set the background color to white */
}
.home-social-icon{
width: max-content;
margin-bottom: var(--mb-2);
font-size: 1.5rem;
margin-left:10px;
margin-top: 15px;
color: var(--skin-color);
}
.home .home-social-icon:hover {
transform: scale(1.05);
}
.navbar.navbar-dark .navbar-nav .nav-link {
color: black;
text-transform: capitalize; 
font-size: 18px;
font-family: 'Poppins san serif';
}

.footer{
background: #193252;
color:white;

.links{
ul {list-style-type: none;}
li a{
color: white;
transition: color .2s;

}
li a:hover {

  text-decoration:none;
  color:rgb(230, 4, 4);

}
}  
.about-company{
i{font-size: 25px;}
a{
color:white;
transition: color .2s;
&:hover{color:rgb(230, 4, 4)}
}
} 
.location{
i{font-size: 18px;}
}
.copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}
